.dashboard-hero{

  padding:
    50px 70px 30px;

  background:#FAF7F2;
}

/* SMALL TEXT */

.dashboard-hero-content p{

  color:#6D8EF7;

  font-size:18px;

  font-weight:600;

  margin-bottom:18px;
}

/* MAIN TITLE */

.dashboard-hero-content h1{

  font-family:'Poppins',sans-serif;

  font-size:78px;

  line-height:88px;

  font-weight:700;

  color:#1D293F;

  max-width:900px;

  margin-bottom:26px;
}

/* SUBTEXT */

.dashboard-subtext{

  display:block;

  max-width:760px;

  font-size:24px;

  line-height:42px;

  color:#667085;
}

/* RESPONSIVE */

@media (max-width:992px){

  .dashboard-hero{

    padding:40px 34px 24px;
  }

  .dashboard-hero-content h1{

    font-size:58px;
    line-height:68px;
  }

  .dashboard-subtext{

    font-size:20px;
    line-height:34px;
  }

}

@media (max-width:768px){

  .dashboard-hero{

    padding:30px 20px 18px;
  }

  .dashboard-hero-content p{

    font-size:15px;
  }

  .dashboard-hero-content h1{

    font-size:42px;
    line-height:52px;

    margin-bottom:18px;
  }

  .dashboard-subtext{

    font-size:17px;
    line-height:30px;
  }

}